html {
	background-color: #000;
}

html, body, main {
	height: 100%;
	width: 100%;
}

body {
	overflow: hidden;
}

main {
	overflow: auto;
	position: relative;
}

.section-hero {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	perspective: 1000px;
}

.section {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;

}

.content {
}

